@model Northwind.EF.MVC.Models.ShipperView

@{
    ViewBag.Title = "Create Shipper";
}

<div class="form-horizontal">
    <h2>@ViewBag.Title</h2>
    <h4>Complete the fields:</h4>
    <hr />
    @using (Html.BeginForm("Insert", "Shipper", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(s => s.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(s => s.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(s => s.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(s => s.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(s => s.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
